.card {
  width: 7rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--clr-1);
  border: 10px solid black;
  border-radius: 0.5rem;
  color: white;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
}
@media only screen and (min-width: 500px) {
  .card {
    width: 10rem;
    height: 15rem;
  }
}
.card-seen {
  background: var(--clr-1-light);
}
.card-current {
  box-shadow: 0 0 1rem 0.3rem var(--clr-3);
}
.card-current.bigCard {
  box-shadow: 0 0 2rem 0.5rem var(--clr-3);
}

.bigCard {
  margin: 2rem;
  width: 20rem;
  height: 30rem;
  font-weight: bold;
  font-style: italic;
  color: var(--clr-1);
}
.bigCard-hidden {
  opacity: 0;
}

/* ANIMATIONS */

.card-fadeOut:not(.bigCard) {
  animation: fade-out 0.15s linear forwards, slide-up 0.15s linear;
}
.card-fadeOut.bigCard {
  animation: fade-out 0.15s linear, slide-down 0.15s linear;
}
@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes slide-up {
  100% {
    translate: 0 -2rem;
  }
}
@keyframes slide-down {
  100% {
    translate: 0 2rem;
  }
}
.card-fadeIn.bigCard {
  animation: fade-in 0.15s linear, slide-from-down 0.15s linear;
}
.card-fadeIn:not(.bigCard) {
  animation: fade-in 0.15s linear, slide-from-up 0.15s linear;
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes slide-from-down {
  0% {
    translate: 0 2rem;
  }
}
@keyframes slide-from-up {
  0% {
    translate: 0 -2rem;
  }
}
.bigCard.card-flipOver {
  animation: flip-over 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}
@keyframes flip-over {
  50% {
    transform: scaleX(1);
  }
  74% {
    background: var(--clr-1);
    color: var(--clr-1);
  }
  75% {
    transform: scaleX(0);
    background: grey;
    color: white;
  }
  100% {
    transform: scaleX(1);
    background: grey;
    color: white;
  }
}
.bigCard.card-flipBack {
  animation: flip-back 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes flip-back {
  0% {
    transform: scaleX(1);
    background: grey;
    color: white;
  }
  24% {
    background: grey;
    color: white;
  }
  25% {
    transform: scaleX(0);
    background: var(--clr-1);
    color: var(--clr-1);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
