.card {
  width: 10rem;
  height: 15rem;
  background: purple;
  border: 10px solid black;
  border-radius: 0.5rem;
  color: white;
}
.card-seen {
  opacity: 60%;
}
.card-current:not(.bigCard) {
  background: pink;
}

.bigCard {
  width: 20rem;
  height: 30rem;
}
