.namesForm-container {
  position: absolute;
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: 'Luminari';
  background: rgb(22, 22, 22, 0.5);
}
.namesForm {
  padding: 2rem;
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 4rem;
  border: 10px solid var(--clr-2-dark);
  border-radius: 0.5rem;
  background: var(--clr-3);
  overflow-y: scroll;
  overflow-x: hidden;
}
.namesForm-hidden {
  visibility: hidden;
}

.namesForm-heading {
  margin-bottom: 2rem;
}
.namesForm-item {
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: 'Fondamento';
}
.namesForm-item > label {
  font-size: 1.8rem;
}
.namesForm-item > input {
  font-size: 2rem;
}

.formControls {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gameControl-form {
  background: var(--clr-4);
}
.gameControl-form:active {
  background: var(--clr-1);
}
