@font-face {
  font-family: 'Luminari';
  src: url('/src/styles/Luminari-Regular.ttf') format('truetype');
}
:root {
  --clr-1: rgb(49, 0, 84);
  --clr-1-light: rgb(88, 0, 150);
  --clr-2: rgb(22, 22, 22);
  --clr-2-dark: black;
  --clr-2-light: rgb(55, 55, 55);
  --clr-3: rgb(167, 14, 45);
  --clr-4: rgb(133, 110, 146);
  --clr-5: white;
  font-size: 62.5%;
  background: var(--clr-2-dark)
    radial-gradient(var(--clr-4) 0%, var(--clr-2) 75%, var(--clr-2-dark) 100%);
  background-repeat: no-repeat;
  color: var(--clr-5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.content-container {
  margin: 2rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: 'Luminari';
  font-size: 5rem;
  /* text-transform: uppercase; */
}
.currentPlayer {
  font-family: 'Fondamento';
}
.controls-container {
  margin-top: 1rem;
}
.gameCenter-container {
  position: relative;
}
.gameControl {
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  font-family: 'Fondamento', 'Luminari', Papyrus, 'Brush Script MT', cursive;
  font-size: 2rem;
  /* background: var(--clr-2); */
  background: rgb(98, 9, 27);
  color: var(--clr-5);
  cursor: pointer;
  transition: all 0.1s linear;
}
.gameControl-draw {
  position: absolute;
  top: calc(50% - 4rem);
  left: 20%;
  height: 8rem;
  width: 60%;
  font-size: 3rem;
}
.gameControl-draw:active {
  background: var(--clr-2-dark);
}
@media (hover: hover) {
  .gameControl-draw:hover {
    background: var(--clr-2-dark);
  }
  .gameControl-draw:active {
    background: var(--clr-2);
  }
}
.gameControl-disabled {
  opacity: 50%;
  pointer-events: none;
}
.gameControl-disabled.gameControl-draw {
  opacity: 0;
}
.hand-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
