:root {
  --clr-1: rgb(49, 0, 84);
  --clr-1-light: rgb(88, 0, 150);
  --clr-2: rgb(22, 22, 22);
  --clr-2-dark: black;
  --clr-3: goldenrod;
  --clr-4: rgb(133, 110, 146);
  font-size: 62.5%;
  background: radial-gradient(
    var(--clr-4) 0%,
    var(--clr-2) 75%,
    var(--clr-2-dark) 100%
  );
  background-repeat: no-repeat;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.content-container {
  margin: 2rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 5rem;
}
.controls-container {
  margin-top: 1rem;
}

.hand-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.gameControl {
  transition: all 0.1s linear;
}
.gameControl-disabled {
  opacity: 50%;
  pointer-events: none;
}
