@font-face {
  font-family: 'Luminari';
  src: url('/src/styles/Luminari-Regular.ttf') format('truetype');
}
:root {
  --clr-1: rgb(49, 0, 84);
  --clr-1-light: rgb(88, 0, 150);
  --clr-2: rgb(22, 22, 22);
  --clr-2-dark: black;
  --clr-2-light: rgb(55, 55, 55);
  --clr-3: rgb(98, 9, 27);
  --clr-3-dark: rgb(67, 6, 18);
  --clr-4: rgb(133, 110, 146);
  --clr-5: rgb(200, 200, 200);
  font-size: 62.5%;
  background: var(--clr-2-dark)
    radial-gradient(var(--clr-4) 0%, var(--clr-2) 75%, var(--clr-2-dark) 100%);
  background-repeat: no-repeat;
  color: var(--clr-5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.content-container {
  margin: 0rem 1rem;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: 'Luminari';
  font-size: 5rem;
}

.info-grid {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
  gap: 0.8rem;
}
.playerCount-container {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  font-family: 'Fondamento';
  text-align: center;
}
.alterCount-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2.1rem;
  font-family: 'Luminari';
}
.alterCount-container > .alterCount-button {
  width: 2.5rem;
  height: 3rem;
  background: var(--clr-3);
  border-radius: 0.5rem;
  font-family: inherit;
}
.currentPlayer {
  font-family: 'Fondamento';
  font-size: 3.3rem;
  line-height: 3.3rem;
  text-align: center;
}
.gameControl.infoControl-names {
  margin-top: 0.5rem;
  width: 8rem;
  font-size: 1.6rem;
  background: var(--clr-3);
}
@media only screen and (min-width: 500px) {
  .content-container {
    min-height: 100vh;
  }
  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }
  .currentPlayer {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 750px) {
  .info-grid {
    width: 75rem;
  }
  .info-grid .infoControl-names {
    width: 12rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}

.gameCenter-container {
  position: relative;
}
.gameControl {
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  font-family: 'Fondamento', 'Luminari', Papyrus, 'Brush Script MT', cursive;
  font-size: 2rem;
  background: var(--clr-3);
  box-shadow: 0rem 0.5rem 0.8rem 0.05rem var(--clr-2);
  color: var(--clr-5);
  cursor: pointer;
  transition: all 0.1s linear;
  text-transform: capitalize;
}
.controls-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.gameControl-small {
  opacity: 75%;
}
@media only screen and (min-width: 600px) {
  .gameControl {
    width: 17rem;
    height: 6rem;
    font-size: 2.4rem;
  }
}
.gameControl:active {
  background: var(--clr-3-dark);
  box-shadow: none;
}
@media (hover: hover) {
  .gameControl:hover {
    background: var(--clr-3-dark);
  }
  .gameControl:active {
    background: var(--clr-3);
  }
}
.gameControl-draw {
  position: absolute;
  top: calc(50% - 4rem);
  left: 20%;
  height: 8rem;
  width: 60%;
  font-size: 3rem;
}
.gameControl-disabled {
  opacity: 50%;
  pointer-events: none;
}
.gameControl-disabled.gameControl-draw {
  opacity: 0;
}
.hand-container {
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (min-height: 900px) {
  .hand-container {
    margin-bottom: 2rem;
  }
}
.gameControl-small {
  font-size: 1.4rem;
  width: 6rem;
  /* height: 3.5rem; */
  transition: all 0.5s;
}
